Django==2.0.2
django-simple-pagination==1.1.8
pytz==2017.2
psycopg2==2.7.3.1
django-contrib-comments==1.8.0
argcomplete==1.8.2
chardet==2.3.0
python-pptx==0.6.5
docx2txt==0.6
beautifulsoup4==4.5.3
xlrd==1.0.0
EbookLib==0.15
SpeechRecognition==3.6.3
six==1.10.0
whitenoise==3.3.0
requests==2.18.4
mammoth==1.4.4
nltk==3.2.4
django-tinymce==2.7.0
mysqlclient==1.3.12
talon==1.4.4
