{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <!-- CASE VIEW STARTS -->

      <div class="right_col" role="main">



          <div class="x_panel">
            <div class="x_title" style="color:black">

              <h4>{{ case_record.title }}



                <div class="pull-right" style="margin-right:10px">
                  <a href="?score_up={{ case_record.id }}"><i class="fa fa-thumbs-up"></i></a>
              &nbsp{{case_record.score}} &nbsp
              <a href="?score_down={{ case_record.id }}"><i class="fa fa-thumbs-down" ></i></a></div></h4>
            </div>


                  {% if case_record.created_by.username == logged_in_user.username %}
                  <div class="pull-right" style="margin-right:50px">
                  <div class="dropdown">


                        <span class="fa fa-edit" id="dropdownMenu1" data-toggle="dropdown"></span>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                        <li><a href="{% url 'questions:edit_question' case_record.id %}" id="edit_case">EDIT</a></li>
                        <li class="delete_case" ><a href="{% url 'questions:remove_case' case_record.id %}" id="remove_case">REMOVE</a></li>
                      </ul>
                    </div>
                    </div>
                {% endif %}
            <div class="panel-content" id="datashow">
              <div class="row marl">


              </div>
              <div class="row marl">

                <div class="col-md-12" style="color:black">
                  <div class="filter_col col-md-8 col-sm-12">
                    <!-- <div class="form-group"> -->

                      <div class="case_field" id="case_status" data-name="name">{{ case_record.issue_detail|safe|urlizetrunc:20 }}</div>
                    </div>
                    <div class="filter_col col-md-4">
                      <!-- <div class="form-group"> -->
                      {% if case_record.rel_statute_link_id %}
                        <label class="case_field_label" for="id_status" data-name="name">Related KB Item</label>
                        <div class="case_field" id="case_status" data-name="name">
                          {% for item in KB_Items_2 %}
                          {% if case_record.rel_statute_link_id == item.id %}
                          <a href="{% url 'knowledge_base:view_knowledgebase_guide' case_record.rel_statute_link_id %}">{{ item }}</a>
                          {% endif %}
                          {% endfor %}

                          </div>
                          {% if case_record.rel_statute_link.kb_type == 'element' %}
                          <a href="{% url 'knowledge_base:view_knowledgebase_guide' case_record.rel_statute_link.id  %}">{{ case_record.rel_statute_link }}</a></div>
                          {% endif %}
                        {% endif %}
                        <label class="case_field_label" for="id_status" data-name="name">Area</label>
                        <div class="case_field" id="case_status" data-name="name">{{ case_record.issue_area }}</div>
                        <label class="case_field_label" for="id_status" data-name="name">Author:</label>

                        <div class="case_field" id="case_status" data-name="name"><a href="/user/{{case_record.created_by.username}}/view">{{ case_record.created_by.username }}</a></div>



                </div>
                {% if case_record.related_cite %}
                      <label class="case_field_label" for="id_status" data-name="name">Case Cite Found:</label><br>
                      <a href="{{case_record.related_cite_link}}"><button class="btn btn-round">{{ case_record.related_cite }}</button></a>

                    <!-- <iframe class="col-md-12" src="{{case_record.related_cite_link}}"></iframe> -->
                </div>
                {% endif %}
              </div>
              <br>


          </div>
          </div>

          {% if case_record.related_document %}
          <div class="x_panel">
            <div class="x_title">
                RELATED DOCUMENTS:
                  <a href="https://s3.amazonaws.com/finch-bucket/media/{{case_record.related_document}}">
                    <button><i class="fa fa-download"></i>
                      {% if case_record.related_document_name %}
                      {{case_record.related_document_name}}
                      {% else %}
                      Download
                      {% endif %}
                    </button></a>
            </div>
            {% if pdf_odj %}
            <div  style="margin-left:1%; margin-right:1%; height:500px" id="motion_pdf">
              <div>

              </div>
              </div>
              {% endif %}

            {% if case_record.related_doc_body %}
            {{case_record.related_doc_body|safe}}
            {% endif %}
            </div>
          {% endif %}


            <div class="x_panel">


              <form id="comment_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <!-- <div class="col-md-6 col-xs-12"> -->


                <div class="compose-body">
                  <div id="alerts"></div>



                  <!-- <input id="id_comments" name="comment" class="editor-wrapper"/> -->
                  <textarea contenteditable="true" class="editor-wrapper" id="id_comments" name="comment" placeholder="Submit Your Comments Here">


                  </textarea>
                  <span><i id="CommentError" style="display:none; color:red"></i></span>
                  <input type="hidden" value="{{case_record.id}}" name="caseid">
                </div>
                <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">

                  <div class="btn-group">
                    <input name="file_upload" type="file">
                  </div>

                </div>
                <div class="compose-footer">
                  <!-- <button id="comment_submit" type="submit" class="btn btn-sm btn-success" type="button">Send</button> -->
                  <button id="comment_submit" type="submit" class="btn btn-round btn-default btn-block" type="button">ANSWER</button>
                </div>
              <!-- </div> -->

              </form>
              </div>
              <div class="x_panel">
                <div class="x_title">
                  {% if comments.count == 1 %}
                  {{comments.count}} Comment
                  {% else %}
                  {{comments.count}} Comments
                  {% endif %}
                </div>
              <!-- </div> -->
                {% for comment in comments %}
                <div class="x_panel">

                  <p class="message">{{ comment.comment|urlizetrunc:30|safe }} </p>
                  {% if comment.related_document %}
                  <p><a href="https://s3.amazonaws.com/finch-bucket/media/{{comment.related_document}}">
                    <button><i class="fa fa-download"></i>

                    Download

                  </button>
                  </a></p>
                  {% endif %}
                  <p><span><a href="/user/{{comment.commented_by}}/view">{{ comment.commented_by }}</a></span>


                  <span class="time pull-right right-container">{{ comment.commented_on }}</span></p>
                  <a href="?comment_score_up={{ comment.id }}"><span class="fa fa-thumbs-up"></span></a>
                  {{comment.score}}
                  <a href="?comment_score_down={{ comment.id }}"><span class="fa fa-thumbs-down" ></span></a>
                  <br>



                  {% if comments_2_comments %}


                  {% for comment_2 in comments_2_comments %}
                  {% if comment_2.orig_comment_id == comment.id %}

                    <div class="x_panel pull-right" style="max-width:85%; background-color:#F7F7F7">
                  <p class="message">{{comment_2.comment|urlizetrunc:30}}</p>
                  {% for user in users %}
                  {% if comment_2.commented_by_id == user.id %}
                    <span class="pull-right"><a href="/user/{{user.username}}/view">{{ user.username }}</a></span>
                    <br>
                    <span class="pull-right">{{ comment_2.commented_on }}</span>
                    {% endif %}
                    {% endfor %}

                </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}



                    {% if case_record.created_by == logged_in_user.username %}

            <form id="comment_2_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  <div class="compose-body x_panel pull-right" style="max-width:85%; background-color:#F7F7F7">
                    <div id="alerts"></div>
                    <textarea contenteditable="true" class="editor-wrapper" id="id_comments" name="comment" placeholder="Reply to {{ comment.commented_by }}'s Answer">
                    </textarea>
                    <span><i id="CommentError" style="display:none; color:red"></i></span>
                    <input type="hidden" value="{{comment.id}}" name="commentid"><input type="hidden" value="{{case_record.id}}" name="case_id_id">
                  <!-- </div>
                  <div class="compose-footer"> -->
                    <button id="comment_submit" type="submit" class="btn btn-sm btn-success btn-block" type="button">Reply</button>
                  </div>
                </form>
                {% endif %}
                </div>

                {% endfor %}
              </div>

          <script src="{% static 'js/questions/view_case.js' %}"></script>
          <script src="{% static 'js/questions/create_case.js' %}"></script>
            <script>PDFObject.embed("https://s3.amazonaws.com/finch-bucket/media/{{case_record.related_document}}", "#motion_pdf");</script>
            <script>PDFObject.embed("https://s3.amazonaws.com/finch-bucket/media/{{comment.related_document}}", "#comment_pdf");</script>



{% endblock %}
{% block js_block %}

{% endblock js_block %}
