{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styling plus plugins -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- <link href="css/main.css" rel="stylesheet"> -->
</head>

<!-- Container Starts -->
<div class="container">
    <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">
      <!-- <div class="content-inner"> -->
        <h1><img src="/static/images/blackfinch.png" style="width:36px"> Finch KM</h1>
        <p class="lead"></p>
        <div class="details-list">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h2>Together we are mighty</h2>

            </div>

          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
<!-- </div> -->

<section class="split section">
<!-- Container Starts -->
<div class="container">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">
    <!-- <div class="content-inner"> -->
      <h2 class="title" style="">THE FIRST KNOWLEDGE MANAGEMENT TOOL FOR SPECIALIZED BAR ASSOCIATIONS</h2>
      <div class="details-list">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3>Small firms shouldn't be at a disadvantage.</h3>
            <p>When small firms litigate against big firms, the big firms
              have all the advantages of institutional knowledge. Our platform
              levels the playing field, letting small firms share their knowledge
              effectively and efficiently.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Common interest = Reason to share data.</h3>
            <p>Finch KM is designed for specialized bar and practice associations.
            Small firms with a common interest have every reason to share their
            insights and internal knowledge with the group.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3>Easy-to-use and intuitive.</h3>
            <p>Search across counties, case types, even inside the motions and
            depositions for the information you need. The less time you spend
            combing through documents, the more time you spend working on the
            things that matter.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Accessible from anywhere.</h3>
            <p>Lawyers love email. We're not looking to change that. You
              can use the full functionality of Finch from email, post
              discussions, and get notifications. Finch will even
              recommend discussions and documents to you via email.
            Our secure web-based platform lets you access the materials
            you need from any device, anywhere. There's nothing to install.
            Finch KM works seamlessly across all devices.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
  <section class="split2 section">
  <!-- Container Starts -->
  <div class="container">
    <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">
      <!-- <div class="content-inner"> -->
        <h2 class="title" style="">Powerfully connected data</h2>
        <div class="details-list">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h3>Intuitive Search</h3>
              <p>Searching through an email listserve is a pain. Our search feature
              lets you quickly find relevant discussions and documents in the right jurisdiction and
             practice area.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <h3>Connected Data</h3>
              <p>Finch KM automatically makes connections between discussions and documents,
              letting you find things quicker and easier.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h3>Relevant Content</h3>
              <p>By using a combination of language processing, machine learning,
                and user voting, the Finch rating system ensures you see only the most relevant
              content and information.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <h3>Easy Discussions</h3>
              <p>We made the discussion process around topics and questions and topics
              easy. Upload files, download documents, and weigh in with your opinion, all
            in a convenient and easy-to-use format.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="split section" >
    <!-- Container Starts -->
    <div class="container">
        <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%">
          <!-- <div class="content-inner"> -->
            <h2 class="title" style="">Private and Secure</h2>
            <div class="details-list">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <h3>Own your data.</h3>
                  <p>When you use Finch KM for your organization, you're using
                  a completely self-contained system. This means the knowledge
                  and materials inside it are shared with only the people in
                  your organization.</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <h3>Easily manage users and permissions.</h3>
                  <p>We put the power into your hands. With Finch KM you have the power to manage users and set ground rules
                  for contributions and comments.</p>
                </div>
              </div>

            </div>
          <!-- </div> -->

        <!-- </div> -->

      <!-- <div class="content-inner"> -->
        <!-- <h2 class="title" style="">Login Here:</h2> -->
        <div class="details-list">
          <div class="row">



            <div class="col-sm-6 col-xs-12">
              <h2 class="title" style="">Log in to Finch KM</h2>

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="POST" action="">
                {% csrf_token %}
            <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="User name" name="email">
            </div>
            <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>

            <button type="submit" class="btn btn-round btn-default">Login</button>
            </form>

            </div>

            <div class="col-sm-6 col-xs-12">
              <h2 class="title" style="">Create Account</h2>
              <p>Create a free test account to see Finch for yourself.</p>

            <a href="/user/signup/"><button type="submit" class="btn btn-round btn-default">Sign up</button></a>

            </div>

        </div>
    </div>
</div>
<!--<script src="js/jquery.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
