<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"> &nbsp <img src="/static/images/greyfinch.png" style="width:26px"> Finch KM</a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">


  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section"  style="text-center">

      {% if 'viewquestion' in request.get_full_path %}

      <ul class="nav side-menu"  style="text-center">
        <!-- <a class="site_title" > {{page_title}}</a> -->
        {% if results_x %}
        <li><a><i class="fa fa-sitemap"></i> Related Discussions:<span class=""></span></a>
          <ul class="nav child_menu">

          {% for q in results_x.distinct %}
          {% for z in q.related_questions.all %}
          <li><a href="/{{ z.id }}/viewquestion/">{{z.title}}</a></li>
          {% endfor %}

          {% endfor %}
        </ul>
        {% endif %}



      </ul>

      {% else %}

      <ul class="nav side-menu"  style="text-center">
        <!-- <a class="site_title" > {{page_title}}</a> -->
        <li><a href="/create" color="black"><i class="fa fa-comments"></i>Start Discussion<span class=""></span></a>
        {% if '?county' in request.get_full_path %}
        <li><a><i class="fa fa-map-marker"></i>{{county_filter}}<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">


              <li><a href="/">Clear Filter</a></li>


          </ul>

        {% elif '?state' in request.get_full_path %}
        <li><a><i class="fa fa-map-marker"></i>{{state_filter}}<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">

              {% for county in counties %}
              <li><a href="/?county={{ county }}">{{county}}</a></li>
              {% endfor %}
          </ul>

          {% else %}
          <li><a><i class="fa fa-map-marker"></i>All Jurisdictions <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">

                {% for county in counties %}
                <li><a href="/?county={{ county }}">{{county}}</a></li>
                {% endfor %}
            </ul>
          </li>
          {% endif %}

          {% if 'org' in request.get_full_path %}
          <li><a><i class="fa fa-map-marker"></i>{{org_filter}}</a>
            <ul class="nav child_menu">

                  <li><a href="/">Clear Filter</a></li>
            </ul>
          </li>
          {% else %}
          <li><a><i class="fa fa-map-marker"></i>All Organizations <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">

                {% for org in orgs %}
                <li><a href="/?org={{ org }}">{{org}}</a></li>
                {% endfor %}
            </ul>
          </li>
          {% endif %}
        <!-- </li> -->

        {% if request.get_full_path == '/' %}
        <li><a><i class="fa fa-cubes"></i> Areas <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">

            {% for quest in question_areas %}
            <li><a href="/?area={{ quest.id }}">{{quest}}</a></li>
            {% endfor %}

          </ul>

          {% elif '?area' in request.get_full_path %}
            <li><a><i class="fa fa-desktop"></i>{{header}} <span class="fa fa-chevron-down"></span></a>

        </li>
        {% endif %}
        <!-- <li><a style="" href="{% url 'questions:list' %}"><i class="fa fa-table"></i> View All Discussions</a>

        </li> -->

        <li><a href="/knowledgebase"><i class="fa fa-sitemap"></i> Knowledge Base</a>

      </ul>
      {% endif %}
    </div>

  </div>

  <div class="sidebar-footer hidden-small">

  </div>
  <!-- /menu footer buttons -->
</div>
